<div class="container">
	<div id="shelf" >
		<div class="row top"></div>
		<div class="cupboard">
			<div class="row shelf"></div>
			<div class="row shelf"></div>
			<div class="row shelf"></div>
			<div class="row shelf"></div>
		</div>
		<div id="bottom"></div>
	</div>	
</div>